// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  background-image: image-url("pups.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -10px;
  height: 500px;
  color: white;
}